<section id="maps">
<h2>Maps</h2>
<p>Creestonia</p>
<a href="https://firebasestorage.googleapis.com/v0/b/cree-dnd.appspot.com/o/Pdfs%2FMaps%2FCreestoniamain.png?alt=media&token=450fed69-cd84-4ca3-8539-6091588636ab"><img src="https://firebasestorage.googleapis.com/v0/b/cree-dnd.appspot.com/o/Pdfs%2FMaps%2FCreestoniamain.png?alt=media&token=450fed69-cd84-4ca3-8539-6091588636ab" width="500px" height="600px" alt="Map of Creestonia" class="responsive"></a>
</section>
<section id="denominations">
  <h2>Denominations</h2>
  <img src="https://firebasestorage.googleapis.com/v0/b/cree-dnd.appspot.com/o/img%2Fdenominations%2F1c.jpg?alt=media&token=bd55a4a2-46cf-4950-bb76-e5c8dda91611" width="50px" height="60px" alt="1 copper bill" class="responsive">
  <img src="https://firebasestorage.googleapis.com/v0/b/cree-dnd.appspot.com/o/img%2Fdenominations%2F1s.jpg?alt=media&token=d5a8a55e-0c92-4c3d-8c7d-aeb57eec6a06" width="50px" height="60px" alt="1 silver bill" class="responsive">
  <img src="https://firebasestorage.googleapis.com/v0/b/cree-dnd.appspot.com/o/img%2Fdenominations%2F1g.jpg?alt=media&token=e950d1da-1e02-4b34-b735-4bd98cfe7507" width="50px" height="60px" alt="1 gold bill" class="responsive">
  <img src="https://firebasestorage.googleapis.com/v0/b/cree-dnd.appspot.com/o/img%2Fdenominations%2F10g.jpg?alt=media&token=e4b56bee-b130-49fd-b2f5-751bdd18e028" width="50px" height="60px" alt="10 gold bill" class="responsive">
  <img src="https://firebasestorage.googleapis.com/v0/b/cree-dnd.appspot.com/o/img%2Fdenominations%2F100g.jpg?alt=media&token=5bcb4ea7-ab81-4dd0-a0cc-8eec52d24927" width="50px" height="60px" alt="100 gold bill" class="responsive">
  <img src="https://firebasestorage.googleapis.com/v0/b/cree-dnd.appspot.com/o/img%2Fdenominations%2F1000g.jpg?alt=media&token=50e98e9f-aab8-4dff-b1f7-d576a93423cc" width="50px" height="60px" alt="1,000 gold bill" class="responsive">
  <img src="https://firebasestorage.googleapis.com/v0/b/cree-dnd.appspot.com/o/img%2Fdenominations%2F10000g.jpg?alt=media&token=9b608a9e-c5c4-43a0-aa71-d4e4d7b65676" width="50px" height="60px" alt="10,000 gold bill" class="responsive">
</section>