<p style="color:red;">Currently unprotected!</p>
<section id="downloadablescripts">
<h2>Scripts</h2>
<ul>
<li>
  <a href="https://firebasestorage.googleapis.com/v0/b/cree-dnd.appspot.com/o/admin%2Fscripts%2FA%20friend%20lost.docx?alt=media&token=6e4d640c-c952-44b8-a394-0e7fac8d8328">A Friend Lost</a>
</li>
<li>
  <a href="https://firebasestorage.googleapis.com/v0/b/cree-dnd.appspot.com/o/admin%2Fscripts%2FWar%20of%20kings.docx?alt=media&token=1460bdb5-5287-465b-b32f-35f1a84a512b">War of Kings</a>
</li>
<li>
  <a href="https://firebasestorage.googleapis.com/v0/b/cree-dnd.appspot.com/o/admin%2Fscripts%2FLost%20in%20Time.rtf?alt=media&token=f34ab6f0-b4f5-4ed8-a781-9609c2822bec">Lost in Time</a>
</li>
</ul>
</section>