<div class="container">
  <div class="form-group">
    <label for="class">Class</label>
    <select class="form-control" id="class" (change)="classSelector()">
      <option>Barbarian</option>
      <option>Bard</option>
      <option>Cleric</option>
      <option>Druid</option>
      <option>Fighter</option>
      <option>Monk</option>
      <option>Paladin</option>
      <option>Ranger</option>
      <option>Rogue</option>
      <option>Sorcerer</option>
      <option>Warlock</option>
      <option>Wizard</option>
    </select>
  </div>
</div>