<div class="container">
  <label for="Armor Class">AC</label>
  <input type="text">
</div>
<div class="container">
  <label for="initiative">Initiative</label>
  <input type="text" id="initiative" value="-1">
</div>
<div class="container">
  <label for="speed">Speed</label>
  <input type="text">
</div>
<div class="container">
  <label for="Health">HP</label>
  <input type="text">
</div>
<div class="container">
  <label for="temporary health">Temp HP</label>
  <input type="text">
</div>
<div class="container">
  <label for="hit dice">Hit Dice</label>
  <input type="text">
</div>
<div class="container">
  <label for="features">Features</label>
  <textarea rows="20"></textarea>
</div>