
<div class="container">
  <div class="form-group">
    <label for="race">Race</label>
    <select class="form-control">
      <option>Hill Dwarf</option>
      <option>Mountain Dwarf</option>
      <option>High Elf</option>
      <option>Wood Elf</option>
      <option>Dark Elf</option>
      <option>Lightfoot Halfling</option>
      <option>Stout Halfling</option>
      <option>Human</option>
      <option>Dragonborn</option>
      <option>Forest Gnome</option>
      <option>Rock Gnome</option>
      <option>Half-elf</option>
      <option>Half-Orc</option>
      <option>Tiefling</option>
    </select>
  </div>
</div>