<div class="container">
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setAcrobatics()" id="acrobatics">
    <label class="form-check-label" for="acrobatics">
      Acrobatics
    </label><br>
    <input type="text" value="-1" id="acrobatics-amount" readonly>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setAnimalHandling()" id="animal handling">
    <label class="form-check-label" for="animal handling">
      Animal handling
    </label><br>
    <input type="text" value="-1" id="animal handling-amount" readonly>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setArcana()" id="arcana">
    <label class="form-check-label" for="arcana">
      Arcana
    </label><br>
    <input type="text" value="-1" id="arcana-amount" readonly>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setAthletics()" id="athletics">
    <label class="form-check-label" for="athletics">
      Athletics
    </label><br>
    <input type="text" value="-1" id="athletics-amount" readonly>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setDeception()" id="deception">
    <label class="form-check-label" for="deception">
      Deception
    </label><br>
    <input type="text" value="-1" id="deception-amount" readonly>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setHistory()" id="history">
    <label class="form-check-label" for="history">
      History
    </label><br>
    <input type="text" value="-1" id="history-amount" readonly>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setInsight()" id="insight">
    <label class="form-check-label" for="insight">
      Insight
    </label><br>
    <input type="text" value="-1" id="insight-amount" readonly>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setIntimidation()" id="intimidation">
    <label class="form-check-label" for="intimidation">
      Intimidation
    </label><br>
    <input type="text" value="-1" id="intimidation-amount" readonly>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setInvestigation()" id="investigation">
    <label class="form-check-label" for="investigation">
      Investigation
    </label><br>
    <input type="text" value="-1" id="investigation-amount" readonly>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setMedicine()" id="medicine">
    <label class="form-check-label" for="medicine">
      Medicine
    </label><br>
    <input type="text" value="-1" id="medicine-amount" readonly>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setNature()" id="nature">
    <label class="form-check-label" for="nature">
      Nature
    </label><br>
    <input type="text" value="-1" id="nature-amount" readonly>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setPerception()" id="perception">
    <label class="form-check-label" for="perception">
      Perception
    </label><br>
    <input type="text" value="-1"id="perception-amount" readonly>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setPerformance()" id="performance">
    <label class="form-check-label" for="performance">
      Performance
    </label><br>
    <input type="text" value="-1" id="performance-amount" readonly>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setPersuasion()" id="persuasion">
    <label class="form-check-label" for="persuasion">
      Persuasion
    </label><br>
    <input type="text" value="-1" id="persuasion-amount" readonly>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setReligion()" id="religion">
    <label class="form-check-label" for="religion">
      Religion
    </label><br>
    <input type="text" value="-1" id="religion-amount" readonly>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setSleightOfHand()" id="sleight of hand">
    <label class="form-check-label" for="sleight of hand">
      Sleight of hand
    </label><br>
    <input type="text" value="-1" id="sleight of hand-amount" readonly>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setStealth()" id="stealth">
    <label class="form-check-label" for="stealth">
      Stealth
    </label><br>
    <input type="text" value="-1" id="stealth-amount" readonly>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" (click)="setSurvival()" id="survival">
    <label class="form-check-label" for="survival">
      Survival
    </label><br>
    <input type="text" value="-1" id="survival-amount" readonly>
  </div>
</div>