<div class="container">
    <div class="form-check">
      <input class="form-check-input" type="radio" (click)="setStrengthSave()" id="strength-save">
      <label class="form-check-label" for="strength-save">
        Strength
        <input type="text" value="-1" id="strength-save-amount" readonly>
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" (click)="setDexteritySave()" id="dexterity-save">
      <label class="form-check-label" for="dexterity-save">
        Dexterity
        <input type="text" value="-1" id="dexterity-save-amount" readonly>
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" (click)="setConstitutionSave()" id="constitution-save">
      <label class="form-check-label" for="constitution-save">
        Constitution
        <input type="text" value="-1" id="constitution-save-amount" readonly>
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" (click)="setIntelligenceSave()" id="intelligence-save">
      <label class="form-check-label" for="intelligence-save">
        Intelligence
        <input type="text" value="-1" id="intelligence-save-amount" readonly>
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" (click)="setWisdomSave()" id="wisdom-save">
      <label class="form-check-label"  for="wisdom-save">
        Wisdom
        <input type="text" value="-1" id="wisdom-save-amount" readonly>
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" (click)="setCharismaSave()" id="charisma-save">
      <label class="form-check-label"  for="charisma-save">
        Charisma
        <input type="text" value="-1" id="charisma-save-amount" readonly>
      </label>
    </div>
  </div>