<div class="container">
  <div class="row">
    <div class="col money">
      <label for="copper">CP</label><br>
      <input type="text">
    </div>
    <div class="col money">
      <label for="silver">SP</label><br>
      <input type="text">
    </div>
    <div class="col money">
      <label for="gold">GP</label><br>
      <input type="text">
    </div>
    <div class="col money">
      <label for="platinum">PP</label><br>
      <input type="text">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <textarea rows="5" cols="90"></textarea>
    </div>
  </div>
</div>