<div class="container">
  <div class="form-group">
    <label for="background">Background</label>
    <select class="form-control" id="background" (change)="backgroundSelector()">
      <option>Acolyte</option>
      <option>Charlatan</option>
      <option>Criminal</option>
      <option>Entertainer</option>
      <option>Folk Hero</option>
      <option>Guild Artisan</option>
      <option>Hermit</option>
      <option>Noble</option>
      <option>Outlander</option>
      <option>Sage</option>
      <option>Sailor</option>
      <option>Soldier</option>
      <option>Urchin</option>
    </select>
  </div>
</div>