<section>
  <h2>Welcome to Cree's guide to everything <abbr title="Dungeons and Dragons">D&D</abbr> <abbr title="5e">5e</abbr></h2>
  <ul>
    <li> <a routerLink="/builder">Character Creator:</a> This allows <abbr title="Dungeon Masters">DMs</abbr> to
        create
        <abbr title="Non Player Characters">NPCs</abbr> and for for players to create their characters</li>
    <li> <a routerLink="/info">Compendium of Knowledge:</a> This is the race info which details all the races and information on them.</li>
</ul>
</section>
<section>
  <h2>References</h2>
  <ul>
      <li><a class="reference" href="http://dnd.wizards.com/articles-tags/unearthed-arcana"> Unearther Arcana Playtest
              Material</a></li>
      <li><a class="reference" href="https://www.dmsguild.com/"> DMs Guild</a></li>
      <li><a class="reference" href="http://dnd.wizards.com/products/tabletop-games/rpg-products"> Wizards of the
              Coast Official Store</a></li>
  </ul>
</section>
