<div class="container">
  <div class="row">
    <div class="col">
      <label for="attack">Attack</label>
    </div>
    <div class="col">
      <label for="bonus">Bonus</label>
    </div>
    <div class="col">
      <label for="damage">Damage</label>
    </div>
  </div>
  <div class="row">
    <div class="col"><label for="attack1"><input type="text"></label></div>
    <div class="col"><label for="bonus1"><input type="text"></label></div>
    <div class="col"><label for="damage1"><input type="text"></label></div>
  </div>
  <div class="row">
    <div class="col"><label for="attack2"><input type="text"></label></div>
    <div class="col"><label for="bonus2"><input type="text"></label></div>
    <div class="col"><label for="damage2"><input type="text"></label></div>
  </div>
  <div class="row">
    <div class="col"><label for="attack3"><input type="text"></label></div>
    <div class="col"><label for="bonus3"><input type="text"></label></div>
    <div class="col"><label for="damage3"><input type="text"></label></div>
  </div>
</div>